<header>
  <!-- Default form login -->
  <div class="container">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 form_menu">
      <!-- <form class="text-center border border-light"> -->
      <form [formGroup]="authForm" (ngSubmit)="saveForm()" class="text-center border border-light">
        <p class="h4 mb-4">Login</p>
        <div class="offset-2 col-8">
          <!-- Email -->
          <!-- <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="username"> -->
          <input type="email" formControlName="username" class="form-control mb-4" placeholder="Username">
          <!-- Password -->
          <!-- <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"> -->
          <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">
          <div class="d-flex justify-content-around">
            <div>
              <!-- Remember me -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
              </div>
            </div>
            <div>
              <!-- Forgot password -->
              <a href="">Forgot password?</a>
            </div>
          </div>

          <!-- Sign in button -->
          <button class="btn btn-info btn-block my-4" type="submit">Login</button>
        </div>
        <!-- Register -->
        <p>Not a member?
          <a href="">Register</a>
        </p>

        <!-- Social login -->
        <p>or sign in with:</p>

        <a class="text-primary mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="text-primary mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="text-primary mx-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a class="text-primary mx-2">
          <i class="fab fa-github"></i>
        </a>

      </form>
      <!-- Default form login -->
    </div>
  </div>
</header>