<section>
  <div class="container-fluid">
    <!-- title -->
    <div class="row text-muted text-center">
      <div class="col m-4">
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
          <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
        </div>
      </div>
    </div>
  </div>
  <ul class="list-inline text-center text-uppercase font-weight-bold my-4">
    <li class="list-inline-item gallery-list-item active-item" data-filter="all">All<span
        class="mx-md-5 mx-3 text-muted">/</span>
    </li>
    <li class="list-inline-item gallery-list-item" data-filter="YUZU">ゆず<span class="mx-md-5 mx-3 text-muted">/</span>
    </li>
    <li class="list-inline-item gallery-list-item" data-filter="KITA">北川悠仁<span class="mx-md-5 mx-3 text-muted">/</span>
    </li>
    <li class="list-inline-item gallery-list-item" data-filter="IWA">岩沢厚治
    </li>
  </ul>
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let file of files;let i= index">
        <div class="filter {{ file.tag }}">
          <div class="card">
            <img src="{{ baseurl }}{{ file.file }}" width="600">
            <div class="card-header">
              <p class="text-secondary" style="margin-bottom: 0"><i class="far fa-comment-alt fa-lg"></i>
                {{ file.no_of_comments }} <i class="far fa-heart fa-lg"></i>
                {{ file.no_of_empathy }} <span (click)='deleteImage(file.id, i)' style="float:right"><i
                    class="far fa-trash-alt fa-lg"></i></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="files.length == 0">
    <div class="end text-center">
      <p>お気に入りの写真をシェアしよう！</p>
    </div>
  </div>
  <div class="container-fluid" *ngIf="next == null && files.length != 0">
    <div class="end text-center">
      <p>全ての思い出を読み込みました。</p>
    </div>
  </div>
</section>