img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.underline-dark {
  width: 150px;
  border: 3px solid #888;
  margin: auto;
}
section {
  background-color: #eee;
  padding-top: 100px;
}
